:root{
    --text-color: #3f98e0;
    --light-grey: rgb(47, 47, 47);
    --bg-color: rgb(31, 31, 31);
    --font: "Rubik", sans-serif;
}

body {
    color: var(--text-color);
    font-family: var(--font);
}

body.login {
    background-image: radial-gradient(
        circle at top left,
        var(--bg-color) 0%, 
        rgb(82, 81, 81) 40%, 
        rgb(63, 103, 163) 60%, 
        rgb(48, 100, 169) 80%, 
        var(--text-color) 100%
    );
}

body.home {
    background-color: var(--bg-color);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    margin: 0;
    padding: 10px;
    width: 100%;
}

.navbar h1 {
    font-size: 20px;
    padding: 15px;

}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

/*Centering the login card (not the elements inside it)*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--light-grey);
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin: 0 auto;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
}

.card h3 {
    margin-top: 2px;
}

input {
    display: flex;
    justify-content: flex;
    margin-bottom: 7px;
    font-family: var(--font);
    border-radius: 10px;
    border: none;
    padding: 7px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginBtn {
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: var(--font);
}

.password-block{
  position: relative;
  width: 100%;
  max-width: 175px;   /* match your other inputs */
  margin: 0 auto;
}

.password-block input{
  width: 100%;
  box-sizing: border-box;
  padding-right: 42px;
}

.password-block button{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar {
    position: fixed; /*so it wont scroll off*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: var(--light-grey);
    transform: translateX(-100%);
    transition: transform 200ms ease;
    z-index: 30;
    padding: 12px;
}

/*For when the open boolean is true*/
.sidebar-open {
    transform: translateX(0); /*Moving sidebar back onto the screen*/
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}